<section class="main swiper mySwiper">
   <div class="wrapper swiper-wrapper">
      <div class="slide swiper-slide">
         <img src="images/famliy-chat.jpg" alt="" class="image" />
         <div class="image-data">
            <span class="text">Do'stona suhbatlar uchun chat.</span>
            <h2>
             Do'stlar bilan qiziqarli<br />
               suhbani davom etting!
            </h2>
            <a href="/login" class="button">Chatga kirish</a>
         </div>
      </div>
   </div>
</section>
